
# User-specific files


userauthjwt.csproj.user
userauthjwt.csproj
userauthjwt.exe
.editorconfig
.http
userauthjwt.sln
.gitignore.save
.gitattributes


*.rsuser
*/.suo
*.user
*.userosscache
*.sln.docstates



.vs/AuthJwt
.vs/userauthjwt
.vs/sd
.vs/ProjectEvaluation
*.exe



[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/



