
# User-specific files


.csproj.user
.csproj
userauthjwt.csproj
*.exe
.editorconfig
.http
*.sln
.gitignore.save
.gitattributes


.vs/
*.rsuser
*/.suo
*.user
*.userosscache
*.sln.docstates





# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# WebSites
wwwroot/

# Publish outputs
*.publishsettings
.publish/
*.appx
*.appxupload
Package/PublishLogs/

# NuGet packages
*.nupkg
*.snupkg
.nuget/packages/
.nuget/repository/
packages/

